.obsidian/plugins/modalforms
.obsidian/plugins/lcl-obsidian-html-local-img-plugin-1.0.0
.obsidian/plugins/note-to-mp
.obsidian/plugins/obsidian-snippet-downloader
.obsidian/plugins/obsidian42-brat
.obsidian/plugins/package-lock.json
.trash
.stfolder
.stignore
.obsidian/plugins/recent-files-obsidian/data.json
